#############################################
# github.com/newlight77/dotfiles
[core]
        autocrlf = input
        pager = less -iXFR
        editor = vim
[color]
        ui = always
[apply]
        whitespace = fix
[merge]
        log = true

[credential]
        helper = netrc -f ~/.netrc.gpg -v
[commit]
        gpgsign = true

[include]
    path = $HOME/.config/git/.gitconfig_alias

# github.com/newlight77/dotfiles
#############################################
