#############################################
# github.com/newlight77/ndotfiles

[include]
    path = $HOME/.ndotfiles/git/.gitconfig_alias

# github.com/newlight77/ndotfiles
#############################################
